/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

span.shortcode {
  display: block;
  margin: 2px 0;
}

span.shortcode > input {
  background: inherit;
  color: inherit;
  font-size: 12px;
  border: none;
  box-shadow: none;
  padding: 4px 8px;
  margin: 0;
}

#cms_block_title_metabox .hndle,
#cms_block_title_metabox .handlediv {
  display: none;
}

